.title{
  overflow: hidden;
  .first{
    height:60px;
    line-height: 60px;
    border-bottom:1px solid #e6e6e6;
    .first_title{
      float: left;
      font-size: 20px;
      font-weight:bold;
      // span{
      //   border-left:2px solid red;
      //   padding-left:10px;
      // }
    }
    .first_link{
      float: right;
      p{
        float: left;
        margin-right:10px;
      }
    }
  }
  .second{
    margin:15px 0;
    clear: both;
    .second_title{
      border-left:4px solid #e8313e;
      span{
        display: inline-block;
        padding-left:10px;
      }
    }
  }
}